version: '2'
services:

    postgres:
        image: postgres
        container_name: database
        volumes:
            - ./data:/var/lib/postgresql/data:rw        
        environment:
            - POSTGRES_USER=user
            - POSTGRES_PASSWORD=password
            - POSTGRES_DB=greetings
        ports:
            - "5432:5432"

    greetings_app:
        image: python:3.7-rc
        container_name: greetings_app
        expose:
            - "5000"
        environment:
            - DB_URL=postgresql://user:password@database:5432/greetings
        volumes:
            - ./greetings_app:/greetings_app
        entrypoint:
            - /bin/bash
            - -c
            - "pip install -r greetings_app/requirements.txt && python3 greetings_app/app.py"
        depends_on:
            - postgres

    nginx_proxy:
        image: nginx
        container_name: nginx_proxy
        ports:
            - "8080:80"
        volumes:
            - ./greetings_app/conf.d:/etc/nginx/conf.d
        depends_on:
            - greetings_app
